@model BDApplication.ViewModel.SearchDetalhesPedViewModel

@{
    ViewData["Title"] = "Detalhes Pedido";
}

<div class="container p-4">
    <div class="row">
        <div class="col"><h2>Detalhes Pedido</h2></div>

        <div class="col">
            <nav class="navbar navbar-light">
                <form class="form-inline" asp-action="Index">
                    <input asp-for="Search" class="form-control mr-sm-2" type="search" placeholder="Número do Pedido" aria-label="Search">
                    <span asp-validation-for="Search" class="text-danger"></span>
                    <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Buscar</button>
                </form>
            </nav>
        </div>

        <div class="col">
            <p style="text-align:right;">
                <a class="btn btn-outline-success" asp-action="Create">Novo DetalhesPed</a>
            </p>
        </div>
    </div>
</div>

<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>
                NumPed
            </th>
            <th>
                Produto
            </th>
            <th>
                Preço
            </th>
            <th>
                Quantidade
            </th>
            <th>
                Desconto
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.DetalhesPed)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NumPed)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Prod)
                </td>
                <td>
                    R$ @Html.DisplayFor(modelItem => item.Preco)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Qtde)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Desconto)
                </td>
                <td>
                    <a class="p-2 mb-2 bg-info text-white" asp-controller="Detalhesped" asp-action="Edit" asp-route-NumPed="@item.NumPed" asp-route-CodProd="@item.CodProd">Editar</a>
                    <a class="p-2 mb-2 bg-warning text-dark" asp-controller="Detalhesped" asp-action="Details" asp-route-NumPed="@item.NumPed" asp-route-CodProd="@item.CodProd">Ver Mais</a>
                    <a class="p-2 mb-2 bg-danger text-white" asp-controller="Detalhesped" asp-action="Delete" asp-route-NumPed="@item.NumPed" asp-route-CodProd="@item.CodProd">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>
